// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tabla_usuarios .titulo{
        background: #036163;
        text-align: left;
        color: white;
}

#tabla_usuarios .titulo .acciones{
        text-align: center;
}


#content .even{

        float: none;
        border: 1px solid #DDD;
        height: 100px;
        border-width: thin;
        background: white;
        width: 90%;
}

#content .odd{
       float: none;
        border: 1px solid #DDD;
        height: 100px;
        border-width: thin;
        background: #FAFAFA;
        width: 90%;
}


#content .user_info{
        width: 250px;
        float: left;
        padding-left:  18px;
        padding-top: 8px;
}

#content .user_info .nombre {
        color: #036163;
        font-size: 18px;
}

#content .user_options{
        width: 20px;
        float: right;
        padding-right: 50px;
        padding-top: 12px;
}




