    <div class="acerca">
      <h2>Más acerca del Sistema de Medición de la Calidad de la Educación</h2>

      <h3>Características esenciales</h3>

      <p>    El Sistema de Medición de la Calidad de la Educación (SIMCE) es un proyecto liderado por la

          Secretaría de Educación del Municipio de Medellín por medio de su Laboratorio de la Calidad

          Educativa. Este se constituye como un sistema de seguimiento y monitoreo del servicio educativo

          que prestan las instituciones educativas de la ciudad y ha sido montado en una plataforma

          informática capaz de producir y presentar reportes periódicos y en línea, sobre el estado y

          el nivel de avance de la calidad de la educación para cada una de las instituciones educativas

          incluidas dentro del sistema.
       </p>

      <p> Los reportes que se pueden visualizar en esta plataforma son informes de carácter técnico con
          información general y específica de cada institución educativa, constituyéndose entonces en
          una “radiografía” del estado actual en que se encuentra la calidad educativa de la institución y las
          dimensiones (e indicadores) que la determinan.
      </p>

      <h3>Indicador multidimensional</h3>
       <p>
          La obtención de este diagnóstico o perfil de calidad por institución se logra como resultado de un
          ejercicio riguroso de diseño y estimación de un Indicador Multidimensional de la Calidad de la
          Educación (IMC), trabajo realizado por expertos en el tema de la Universidad Eafit de Medellín.
       </p>
       <h3>   Dimensiones que determinan la calidad educativa</h3>
          <p>Se ha considerado que la calidad de la educación depende de varias dimensiones o variables

          denominadas “Ambiente Escolar”, “Rendimiento Académico” y “Progreso Académico”.
          </p>
      <p>
            La

          primera dimensión provee información sobre la forma específica en que se relacionan y se

          comunican los miembros de una institución educativa, como también la manera en que la

          misma involucra a los actores en el proceso de aprendizaje de los estudiantes. Es de resaltar

          que toda la comunidad educativa contribuye a la determinación de estos factores relacionales,

          comunicativos y motivacionales, que según la UNESCO juegan un papel crucial en el rendimiento

          escolar en Latinoamérica. Es decir, se ha observado que muchos de los problemas educativos

          existentes no están relacionados necesariamente con la instrucción o la infraestructura, sino

          con factores contextuales, organizativos y de relaciones personales que afectan los resultados

          educativos finales. Es así como, para poder construir una idea general del ambiente escolar de

          cada IE, se decidió diseñar y aplicar 3 instrumentos o encuestas de percepción que preguntan

          a los estudiantes, docentes y profesores sobre cuatro categorías de factores que condicionan el

          ambiente escolar: “expectativas académicas”, “participación”, “comunicación” y “seguridad y el

          respeto”.
          </p>
          <p>
          La segunda dimensión, el “Rendimiento Académico” captura información sobre: i) el nivel

          académico general de los estudiantes de los colegios en determinado año, empleando los

          resultados de exámenes externos estándar (Pruebas Saber en Colombia) de estudiantes

          de quinto, noveno y décimo grado, en las áreas de lenguaje y matemáticas; ii) las tasas de

          aprobación; y iii) las tasas de extraedad.
          </p>
      <p>

         La tercera dimensión, el “Progreso Académico” registra el avance o retroceso en el rendimiento

          académico de la institución a partir de la variación que existe entre dos años en los resultados

          (medidos en percentiles de puntajes) de las Pruebas Saber en las áreas de lenguaje y

          matemáticas, para los estudiantes de grado 5, 9 y 11.

      </p>
      <p>
          Se ha incluido una cuarta dimensión denominada “Bonus o Bonificación”, con el fin de reconocer

          la mayor dedicación y esfuerzo que deben realizar varias de las instituciones educativas de

          la ciudad para lograr que un porcentaje importante de su población estudiantil obtenga buen

          rendimiento en las Olimpiadas del Conocimiento, dadas unas condiciones socioeconómicas

          adversas. Diferentes variables socioeconómicas y de entorno se emplean para poder identificar

          esta población y asignar un crédito adicional o premio al trabajo realizado por el colegio que

          atiende población en condiciones de vulnerabilidad.

          Para mas información puede consultarse el informe final de la Universidad Eafit

          2012: “Implementación de un Sistema de Medición de la Calidad de la Educativa en la Ciudad de

          Medellín”.
      </p>
    </div>