    <div class="acerca">
      <h2 style="text-align: center;">Más acerca del Sistema de Medición de la Calidad de la Educación</h2>
      <br>
      <br>
      <h3>Origen</h3>
      <p>El Sistema de Medición de la Calidad de las Instituciones Educativas de la Ciudad de
      Medellín (SIMCIE-Medellín) es un proyecto liderado por la Secretaría de Educación
      de Medellín por medio de su Laboratorio de la Calidad de la Educación, instancia que
      tiene como misión ser un banco de datos y de indicadores y desarrollar y promover la
      construcción de estudios técnicos. En su construcción participó la Universidad Eafit de
      Medellín.
      </p>
      <h3>Definición</h3>
      <p>El Sistema de Medición es una herramienta de seguimiento y evaluación del servicio
      educativo que prestan las IE del Municipio, constituyéndose como un importante
      insumo de información para la toma de decisiones y para el diseño de estrategias y
      acciones pertinentes en pro del mejoramiento de la calidad del sistema educativo de
      Medellín.
      </p>
      <p>
      En este orden de ideas, con el SIMCIE-Medellín es posible identificar las fortalezas y
      debilidades de cada institución educativa, en su ambiente escolar de aprendizaje, el
      rendimiento y progreso académico de sus estudiantes, facultando así a las autoridades
      educativas y a las mismas instituciones para hacer correctivos si son necesarios y
      fortalecer y promover las virtudes.
      </p>
      <h3>Objetivos</h3>
      <ul>
        <li>Servir de herramienta de seguimiento y evaluación de la calidad del sistema
          educativo del Municipio y de cada institución.</li>
        <li>Facilitar la identificación de fortalezas y debilidades en calidad de cada institución
          educativa, específicamente en ambiente escolar y rendimiento y progreso
          académico de sus estudiantes</li>
        <li>Facultar a las autoridades educativas y a las mismas instituciones para la
          realización de correctivos pertinentes en el tema de calidad.</li>

        <li>Servir de insumo de información y toma de decisiones para la comunidad educativa
          (padres de familia, estudiantes, profesores, etc.)</li>
      </ul>
      <h3>Acceso al Sistema</h3>
      <p>El Sistema de Medición se encuentra montado en una plataforma flexible y
      multiusuario en la web, de tal manera que toda la comunidad educativa y la sociedad
      en general, puede acceder a ésta desde cualquier computador en el mundo con acceso
      a internet, ingresando con un usuario y contraseña.
      </p>
      <h3>Reportes del Sistema</h3>
      <p>En la plataforma del Sistema los usuarios que ingresen con su login y contraseña
      podrán acceder a distintos reportes agregados y por institución. Uno de ellos son
      los ranking de instituciones, que muestra en forma resumida, los resultados de
      cada institución Estos son informes técnicos que presentan información general
      y específica de cada institución educativa, siendo una «radiografía» del estado
      actual en que se encuentran la calidad educativa de la institución (y su avance) y las
      dimensiones que se consideran la determinan. La obtención de este diagnóstico se
      logra gracias al diseño y estimación de un Indicador Multidimensional de la Calidad de
      la Educación (IMCE).
      </p>
    </div>