<h3>Sistema de Medición de la Calidad de la Educación </h3>

    <div class="acerca">
        <p>El Sistema de Medición de la Calidad de la Educación es un proyecto liderado por
            la Secretaria de Educación del Municipio de Medellín por medio de su Laboratorio de la
            Calidad Educativa.
        </p>

        <p>El Sistema de Medición de la Calidad Educativa es un sistema de seguimiento y monitoreo
            del servicio educativo que prestan las IE <strong>[1]</strong> oficiales del Municipio de Medellín. El mismo,
            como su nombre lo indica, es una plataforma informática capaz de producir y presentar
            reportes periódicos, sobre el estado y el nivel de avance de la calidad de la educación, para
            cada una de las IE oficiales.
        </p>


        <p>El reporte es un informe técnico que presenta información general y especifica de la IE, esta
            última es una radiografía del estado actual en que se encuentran la calidad educativa de la
            IE y las dimensiones que la determinan. La obtención de este diagnostico se logra gracias al
            diseño y estimación de un Indicador Multidimensional de la Calidad de la Educación.
            La calidad de la educación depende de varias dimensiones o variables que hemos
            denominado “Ambiente Escolar”, “Rendimiento Académico”, “Progreso Académico”
            y “Bonus o Bonificación”.
        </p>
        <p>  La primera dimensión provee información sobre la forma específica
           en que se relacionan y se comunican los miembros de una institución educativa,
            como también la manera en que la misma involucra a los actores en el proceso de
            aprendizaje de los estudiantes. Es de resaltar que toda la comunidad educativa contribuye a
            la determinación de estos factores relacionales, comunicativos y motivacionales, que según
            la UNESCO <strong>[2]</strong> juegan un papel crucial en el rendimiento escolar en Latinoamérica. Es decir,
            se ha observado que muchos de los problemas educativos existentes no están relacionados
            necesariamente con la instrucción o la infraestructura, sino con factores contextuales,
            organizativos y de relaciones personales que afectan los resultados educativos finales <strong>[3]</strong>.
            Es así como, para poder construir una idea general del ambiente escolar de cada IE, se
            decidió diseñar y aplicar 3 instrumentos o encuestas de percepción que preguntan a los
            estudiantes, docentes y profesores <strong>[4]</strong> sobre cuatro categorías de factores que condicionan el
            ambiente escolar: “Las Expectativas Académicas”, “la Participación”, “la Comunicación” y “la
            Seguridad y el Respeto”.

        <p> La segunda dimensión, el “Rendimiento Académico”, captura información sobre el nivel
            académico general de los estudiantes de la IE en el año t, empleando los resultados de las
            pruebas Saber, en las áreas de lenguaje y matemáticas, que se administran a los grados 5, 9
            y 11 y las tasas de aprobación y extraedad que proporciona el ICFES. La tercera dimensión,
            el “Progreso Académico”, registra el avance o retroceso en el rendimiento académico de
            la IE por medio de capturar la variación que existe entre dos años (t y t-3) de las pruebas
            Saber, en las áreas de lenguaje y matemáticas, para los grados 5, 9 y 11. Esta variación se
            registra en forma de percentiles, dos subindicadores dan cuenta de la misma, el crecimiento
            en percentil del estudiante mediano y el crecimiento en percentil del estudiante con
            puntajes bajos en las pruebas Saber.
        </p>

        <p> La cuarta dimensión denominada “Bonus o Bonificación”, es una variable que reconoce
            la mayor dedicación y esfuerzo que deben realizar varias de las IE oficiales para poder
            que un porcentaje importante de su población estudiantil logre elevar su rendimiento y
            progreso académico, dado que sus condiciones socioeconómicas son adversas. Diferentes
            variables socioeconómicas y de educación se emplean para poder identificar esta población
            y asignar un crédito adicional o premio al trabajo realizado por las IE que atiende población
            vulnerable. Este indicador se construye a partir de las bases de datos de Olimpiadas del Conocimiento
            y Matricula en Línea.
        </p>




        <p> Las primeras dimensiones o variables mencionadas,"Ambiente Escolar”, “Rendimiento” y “Progreso”, constituyen
            el Indicador Multidimensional de la Calidad Educativa. Este indicador cuantitativo esta construido
            con base en el método de componentes principales, su estimación para cada IE permite clasificar y por
            tanto ordenar
            de mayor a menor las IE (209) según el nivel de la calidad educativa. Es decir, gracias
            a esta herramienta se obtiene un ranking de ciudad para las IE oficiales de acuerdo a la
            calidad en la prestación de su servicio educativo. Además, el reporte también clasifica las
            IE en términos de calidad y según características socioeconómicas y del entorno de los
            estudiantes que influyen en el funcionamiento de estas, las mismas se presentan de acuerdo
            a un ranking por clusters <strong>[6]</strong>.



        <p> Es así como, el Indicador Multidimensional de la Calidad de la Educación proporciona un
            índice de calidad por dimensión y permite comparar cada IE de acuerdo a cada dimensión
            con todas las IE de la ciudad y con sus semejantes (aquí se hace referencia a la agrupación
            por clusters). En consecuencia, se logra identificar las fortalezas y debilidades de las
            IE según el ambiente escolar, el rendimiento y el progreso académico, facultando a las
            autoridades y a las IE para hacer correctivos en las acciones emprendidas en pro de la
            calidad de la educación.
        </p>



        <div class="bibliografia">

           <ul>
             <li><strong>[1]</strong> La sigla IE quiere decir Institución Educativa o Instituciones Educativas según el contexto. Esta sigla se
                utilizará a lo largo de todo el documento para facilitar la lectura.
             </li>

            <li><strong>[2]</strong> Segundo Informe del Primer Estudio Internacional Comparativo y Explicativo (SERCE). Laboratorio
                Latinoamericano de Evaluación de la Calidad de la Educación (LLECE). UNESCO. Santiago de Chile. Pag 17. 2000
            </li>
            <li><strong>[3]</strong> http://www.calidadeducativa.edusanluis.com.ar/2010/11/el-clima-escolar-y-la-calidad-educativa.html</li>
            <li><strong>[4]</strong> Se optó por no encuestar al rector, pues se consideró que el instrumento puede intimidarlo con preguntas
                         que indagan sobre su gestión y su capacidad de liderazgo, incitándolo a dar respuestas muy sesgadas.
            </li>
            <li><strong>[5]</strong> Los clusters o agrupaciones se construyeron según la metodología estadística de clusters.</li>


           </ul>
        </div>
    </div>