<div id= "alcaldia">
  <div class="alcaldia-i">
      <%= image_tag("NewLogo.jpeg")%>
  </div>
  <div class="alcaldia-p">
    <h2>Municipio de Medellín</h2>
    <p>El Municipio de Medellín es una entidad comprometida con el mejoramiento de su desempeño en términos de calidad,
      transparencia y satisfacción social de los ciudadanos y las ciudadanas.
      Su gestión pública orienta la atención al ciudadano con un modelo de gestión por procesos que
      consolida la memoria institucional y fomenta el autocontrol y la autogestión, para alcanzar los
      resultados en términos de eficacia, eficiencia y efectividad esperados.
    </p>  
    <p>

      Para lograr este propósito, se garantiza el desarrollo de las competencias del talento humano
      requeridas para gestionar los procesos, la infraestructura física que mejore el ambiente de trabajo
      y la atención, y los sistemas de información que den soporte a los procesos y faciliten la toma
      efectiva de decisiones.
      
    </p>
    <p>
        <h3>Misión</h3>

        Estimular el desarrollo humano y cívico de sus habitantes, así como la provisión de los bienes y servicios
        de consumo colectivo; asegurar la efectividad de los principios, derechos y deberes ciudadanos; promover
        la prosperidad de todos los habitantes; garantizar la construcción colectiva del Municipio de Medellín,
        en sus espacios urbano y rural; afianzar la Justicia Social y proyectar a la ciudad de Medellín hacia las
        corrientes mundiales de la economía y la cultura; contagiar a los habitantes de humanidad para construir,
        entre todos, una Ciudad más vivible y menos esclava del culto al cemento.

    </p>
    <p>
        <h3>Visión</h3>

        La ciudad de Medellín será un modelo de convivencia y desarrollo social en el ámbito nacional e internacional;
        una metrópoli donde la gente pueda consumir más ciudad, más cultura y más espacio público; una ciudad donde
        los gobernantes posibiliten a su colectividad los anhelos de felicidad; una ciudad en la que los habitantes
        aprenden a construir tejido urbano por encima de sus diferencias; una ciudad donde se pueda vivir con
        dignidad y seguridad; una ciudad donde se aprovechen las oportunidades para desarrollar plenamente los
        potenciales de sus habitantes; una ciudad que promueve la calidad de vida y establece como prioridades la
        educación, la salud, la vivienda, el espacio público y sus equipamientos; una ciudad integrada con el núcleo
        familiar, con servicios públicos para los ciudadanos; una ciudad donde se ejercita, día a día, la solidaridad
        y la cultura ciudadana; una ciudad competitiva conectada al mundo global; una ciudad para los encuentros y
        los diálogos; un espacio urbano para que la gente se junte y comparta generosamente con los demás.


    </p>
  </div>
</div>
<hr>

<div id= "secretaria">
  <div class="secretaria-i">
    <%= image_tag("secretaria.jpg")%>
  </div>
  <div class="secretaria-p">
    <h2>Secretaría de Educación de Medellín</h2>
    <h3>Misión</h3>
    <p>
        La Secretaría de Educación de Medellín tiene como misión direccionar el modelo educativo de la
        ciudad; posibilitar la formación de ciudadanos solidarios frente a la construcción de una sociedad
        democrática y de plena convivencia; y velar por la prestación r un servicio educativo de alta calidad y
        pertinencia social.
    </p>
    <h3>Objetivos</h3>

        <ul>
          <li><p> Planear, dirigir, coordinar y controlar la prestación del servicio educativo en Medellín de
            acuerdo con la Constitución y la Ley, las directrices del Ministerio de Educación Nacional,
            la Secretaría de Educación para la Cultura del Departamento de Antioquia, el Alcalde y el
            Concejo en concordancia con los Planes de Desarrollo de la ciudad.
          </p></li>
          <li><p> Administrar los recursos financieros provenientes del Sistema General de Participaciones,
            así como lo concerniente al manejo de las instituciones educativas, su planta de cargos
            y las regulaciones normativas respectivas, garantizando la cobertura total y la evaluación
            global del servicio educativo.</p></li>
          <li><p> Administrar los recursos financieros provenientes del Sistema General de Participaciones,
            así como lo concerniente al manejo de las instituciones educativas, su planta de cargos
            y las regulaciones normativas respectivas, garantizando la cobertura total y la evaluación
            global del servicio educativo.
          </p></li>
          <li><p>Hacer de Medellín una ciudad que se enseña y se aprende, en la que se desarrollan
            integralmente niñas, niños, jóvenes y personas adultas por medio de la formación en
            derechos y deberes ciudadanos de manera que asuman sus responsabilidades con
            autonomía y puedan integrarse a la sociedad en forma democrática y participativa.           
          </p></li>
          <li><p> Promover una nueva cultura ciudadana de convivencia, que transforme las relaciones
            entre los diferentes actores de la sociedad civil y de ésta con el Estado, bajo principios de
            justicia, equidad, solidaridad, respeto, honestidad y transparencia.
          </p></li>
          <li><p>Impulsar, fortalecer y dirigir procesos educativos y culturales, que permitan dinamizar y
            multiplicar las posibilidades de integración social.
          </p></li>
          <li><p>Optimizar los recursos humanos y financieros, y garantizar el mantenimiento de la
            infraestructura física que la dependencia requiere para prestar servicios educativos de
            calidad.
          </p></li>
         <li><p>Liderar programas y proyectos que mejoren la calidad de la educación como la

           cualificación permanente de las y los docentes y la incorporación de estrategias y recursos
           que optimicen los procesos de enseñanza y aprendizaje.
         </p></li>
        </ul>


  </div>
</div>

<hr>

<div id = laboratorio>
  <div class="laboratorio-i">
    <%= image_tag("laboratorio.png") %>
  </div>
  <div class="laboratorio-p">
    <h2>Laboratorio de la Calidad</h2>
    <p>El Laboratorio de la Calidad de la Educación adscrito a la Secretaría de Educación de Medellín fue
      creado como una estrategia público-privada para promover y producir información para las autoridades
      educativas, escuelas y sociedad en general, sobre los avances en los niveles de logro del sistema educativo
      y de sus instituciones, en función de estándares nacionales, el comportamiento de los indicadores de
      calidad del aprendizaje, la evaluación de factores asociados y el impacto de los programas de tal forma que
      permita direccionar políticas y mejorar la gestión.
    </p>
    <p>
      Desde el 2005 el trabajo del Laboratorio, experiencia sin antecedentes en el país, se ha venido
      consolidando de manera importante, por medio de diferentes estrategias de mejoramiento de la
      información y de acercamiento a la comunidad educativa de la ciudad.
    </p>
    <p>
      El Laboratorio de Calidad ha concentrado sus esfuerzos en el montaje de un sistema de información
      educativo, realizando análisis y seguimiento a los logros y dificultades de la calidad de la educación, por
      medio de la difusión y el debate público con los actores del sistema, llevando finalmente a proponer
      recomendaciones sobre ajustes de la política educativa.
    </p>
    <p>
      El Laboratorio tiene como objetivo central el hacer seguimiento a los logros y dificultades de la calidad
      de la educación básica y media en Medellín, mediante el análisis y debate sobre resultados y factores
      asociados a la misma, y la sugerencia de acciones para su mejoramiento. Por medio del análisis e
      investigación de resultados y factores asociados a la calidad y convocando al sector educativo de la ciudad
      para debatir temas críticos y proponer soluciones para su mejoramiento.
    </p>
    <p>
      Para realizar evaluación de la calidad de la educación en las instituciones oficiales de la ciudad
      de Medellín, la Secretaría Municipal implementó un Sistema de Medición de Calidad de la
      Educación que permitan el monitoreo, la evaluación y la toma de decisiones sobre el proceso y los
      resultados del sistema educativo y que sirva para las labores de mejoramiento de la calidad de las
      instituciones del Municipio.

    </p>
  </div>
</div>