<h2 style="text-align: center;">Indicador multidimensional de calidad</h2>
<br>
<br>


<h3>Definición</h3>
<p>
    El Sistema de Medición estima un puntaje total denominado Indicador
    Multidimensional de la Calidad de la Educación (IMCE) permitiendo la comparación
    de una institución educativa con todas las IE de la ciudad y con aquellas con
    características similares. Para su construcción se han asumido tres dimensiones
    que se consideran determinan la calidad del sistema educativo como tal y de cada
    institución que lo forma.
</p>

<h3>Dimensiones determinantes de la calidad de la educación</h3>
    <p>La calidad de la educación depende o es determinada por varias dimensiones o
        variables. El Sistema de Medición ha considerado las siguientes:
    </p>
    <ol>
     <li>Ambiente Escolar de Aprendizaje</li>
     <li>Rendimiento Académico</li>
     <li>Progreso Académico</li>
    </ol>

<h3>Dimensión 1: Ambiente Escolar de Aprendizaje</h3>
    <p>
        Esta dimensión provee información sobre la forma específica en que se relacionan y
        se comunican los miembros de una institución educativa, como también la manera en
        que la misma involucra a los actores en el proceso de aprendizaje de los estudiantes.
    </p>
    <p>
        Es de resaltar que toda la comunidad educativa contribuye a la determinación de
        estos factores relacionales, comunicativos y motivacionales, que según la UNESCO
        juegan un papel crucial en el rendimiento escolar en Latinoamérica. Es decir, se ha
        observado que muchos de los problemas educativos existentes no están relacionados
        necesariamente con la instrucción o la infraestructura, sino con factores contextuales,
        organizativos y de relaciones personales que afectan los resultados educativos finales.
    </p>
    <p>
        Es así como, para poder construir una idea general del ambiente escolar de cada IE,
        se decidió diseñar y aplicar 3 instrumentos o encuestas de percepción que preguntan
        a los estudiantes, docentes y profesores sobre cuatro categorías o componentes de
        factores que condicionan el ambiente escolar: “Las Expectativas Académicas”, “la
        Participación”, “la Comunicación” y “la Seguridad y el Respeto”. Lo que intentan medir
        estas categorías se muestra en el siguiente cuadro.
    </p>
    <table border=1 cellspacing=0 cellpadding=2 >
      <tr>
        <td>CATEGORÍAS</td>
        <td>¿Que miden?</td>
      </tr>
      <tr>
        <td>EXPECTATIVAS ACADÉMICAS</td>
        <td>Nivel de motivación que el colegio brinda para cumplir con
          éxito la formación de los estudiantes a través de objetivos
          académicos rigurosos y coherentes
        </td>
      </tr>
      <tr>
        <td>COMUNICACIÓN</td>
        <td>Percepción frente al nivel de información que el colegio
          debe brindar acerca de los objetivos educativos y de su
          progreso con respecto a los resultados académicos de los
          alumnos
        </td>
      </tr>
      <tr>
        <td>PARTICIPACIÓN
          (COMPROMISO)
        </td>
        <td>Qué tan motivados se sienten los estudiantes con relación a
          su proceso de aprendizaje
        </td>
      </tr>
      <tr>
        <td>SEGURIDAD Y
          RESPETO
        </td>
        <td>Percepción frente a la seguridad física y emocional que
          ofrece el colegio, la cual es indispensable en todo proceso
          de aprendizaje</td>
      </tr>

    </table>


<h3>Dimensión 2: Rendimiento Académico</h3>
    <p>
        La segunda dimensión, el “Rendimiento Académico”, captura información sobre el
        nivel académico general de los estudiantes de cada institución educativa en distintos
        años, empleando los resultados agregados de las pruebas Saber 5, 9 y 11 del ICFES en
        las áreas de lenguaje y matemáticas, y las tasas de aprobación y extra-edad.
    </p>
    <p>
        Los resultados (puntajes) en las pruebas del ICFES se consideran como unas medidas
        permiten aproximarse a la estimación de la calidad de la educación. Dado que los
        resultados en las Pruebas Saber son individuales (a nivel de estudiantes), estos se
        agregaron a nivel de institución utilizando la medida estadística de la mediana de
        puntajes en cada área del conocimiento considerada.
    </p>

<h3>Dimensión 3: Progreso Académico</h3>
    <p>
        Esta dimensión registra el avance o retroceso en el rendimiento académico de
        cada institución educativa por medio de la captura de la variación existente en los
        resultados (puntajes) agregados de la institución en las pruebas Saber 5, 9 y 11 del
        ICFES en las áreas de lenguaje y matemáticas.
    </p>
    <p>
        Dado que las pruebas Saber del ICFES no son las mismas año a año (preguntas
        distintas, énfasis diferente, etc.), para usar simultáneamente pruebas de años distintos
        se deben “homogeneizar”, permitiendo así su comparabilidad. Una forma de hacerlo
        es transformando los resultados agregados (mediana del puntaje por institución) en
        percentiles, lo que permite establecer posiciones bien sea en los estudiantes y/o en
        las instituciones. En este orden de ideas, la variación en el rendimiento académico se
        registra en forma de percentiles.
    </p>
<h3>Bonificación</h3>
    <p>
        Una cuarta variable se ha considerado denominada “Bonus o Bonificación”, construida
        con el fin de reconocer la mayor dedicación y esfuerzo que deben realizar varias
        de las IE oficiales (incluidas las de contratación o cobertura) para poder lograr que
        un porcentaje importante de su población estudiantil logre elevar su rendimiento
        y progreso académico, dado que las condiciones socioeconómicas de los alumnos
        son restrictivas. Diferentes variables socioeconómicas y de entorno del colegio se
        emplean para poder identificar esta población y asignar un crédito adicional o premio
        al trabajo realizado por las IE que atienden población vulnerable (específicamente
        estudiantes de estratos bajos). Esta variable, que no se considera una dimensión como
        tal, se construye a partir de las bases de datos de Olimpiadas del Conocimiento de
        Medellín.
    </p>

<h3>Construcción del Indicador</h3>
    <p>
        Las tres primeras dimensiones o variables mencionadas, “Ambientes
        Escolar”, “Rendimiento” y “Progreso”, constituyen el puntaje total (sin bonus)
        o Indicador Multidimensional de la Calidad Educativa (IMCE). Este indicador
        cuantitativo está construido con base en el método estadístico de componentes
        principales lineales. Su estimación para cada institución permite clasificar y por tanto
        ordenar de mayor a menor las IE según el nivel de la calidad educativa. Considerando
        la bonificación, se obtiene un puntaje total (con bonus).
    </p>
    <p>
        Gracias a la construcción de este indicador multidimensional es posible construir un
        ranking de ciudad para las IE de acuerdo a la calidad en la prestación de su servicio
        educativo y conocer en términos generales, el estado en calidad de la institución.
        Entiéndase ranking como la clasificación u ordenamiento de mayor a menor de las
        instituciones educativas según lo obtenido en su puntaje total. Estos rankings se
        muestran en la plataforma.
    </p>
    <p>
        Es de resaltar que el indicador propuesto y estimado está inspirado en estudios
        recientes en educación, los cuales se basan en el diseño y estimación de indicadores
        multidimensionales, usando bien sea la técnica de componentes principales u otras
        técnicas estadísticas. Es el caso del Departamento de Educación de la Ciudad de New
        York en su Programa “Performance and Accountability: ProgressReport” (2006-2012),
        la Universidad EAFIT en su estudio “Pertinencia del Programa de Economía: una
        mirada desde los graduados” (2009) y El Consejo Económico y Social de la Comunidad
        de Madrid en su estudio “La Calidad de las Universidades en España: Elaboración de
        un Indicador Multivariado” (2010).
    </p>
<h3>Agrupación de instituciones educativas</h3>
    <p>
        El Sistema de Medición define unos grupos de instituciones educativas denominados
        clústeres, conformados de tal manera que las IE que se encuentran en un mismo
        grupo o clúster presentan características similares. Estas características similares
        corresponden a las condiciones socioeconómicas de la población estudiantil (estrato
        socioeconómico del hogar del estudiante, población estudiantil con computador
        e internet en casa, población asegurada en salud, etc) y a variables de entorno
        (amenities) de la institución educativa (razón de homicidios del barrio en el que se
        encuentra la IE, densidad poblacional del barrio, cobertura de servicios públicos del
        barrio, etc.).
    </p>
    <p>
        Esta agrupación de IE permite mostrar en la plataforma vía reportes, resultados en
        calidad de una institución educativa, no sólo en comparación con el resto de IE de la
        ciudad, sino también en comparación con IE con características similares, es decir,
        con su clúster. La metodología utilizada para la construcción de estos clúster, que en
        total son 9, fue la de k-medias que consiste en escoger aleatoriamente n instituciones
        educativas (donde n es el número de clústeres deseados) como centros de cada uno
        de los clúster para luego agrupar dentro de cada uno de ellos las instituciones mas
        cercanas a dichos centros. También se utilizaron otras metodologías de clúster como
        modelos jerárquicos y bi-etápico, pero se encontró que el método de k-medias era la
        más adecuadas porque arrojaba clúster más homogéneos (similares).
    </p>
    <p>
        El siguiente gráfico resume la explicación de la estimación del indicador
        multidimensional de la calidad educativa.
        <%= image_tag "d.jpg", :class => "indicador" %>
    </p>