<h2 style="text-align: center;">Indicador multidimensional de calidad</h2>
<br>
<br>


 <h3>Construcción del Indicador</h3>

 <p>
    Las tres dimensiones mencionadas, “Ambiente Escolar”, “Rendimiento” y “Progreso” que se
    consideran determinan la calidad de la educación, constituyen el Indicador Multidimensional
    de la Calidad Educativa. Este indicador cuantitativo está construido con base en el método de
    componentes principales. Su estimación para cada institución permite clasificar y por tanto
    ordenar de mayor a menor cada colegio según el nivel de calidad educativa.
 </p>
 <p>
    Es de resaltar que el indicador propuesto está inspirado en estudios recientes sobre el sistema
    educativo, los cuales se basan en el diseño y estimación de indicadores multidimensionales,
    usando bien sea la técnica de componentes principales u otras técnicas estadísticas. Es el caso
    del Departamento de Educación de la Ciudad de New York en su Programa “Performance and
    Accountability: ProgressReport” (2006-2012), la Universidad EAFIT en su estudio “Pertinencia
    del Programa de Economía: una mirada desde los graduados” (2009) y El Consejo Económico
    y Social de la Comunidad de Madrid en su estudio “La Calidad de las Universidades en
    España: Elaboración de un Indicador Multivariado” (2010) diseñan y miden indicadores
    multidimensionales para evaluar o monitorear el avance y alcance de sus programas educativos.
 </p>
 <p>
    Definido el indicador multidimensional se obtiene un ranking de ciudad para las instituciones
    de acuerdo a la calidad en la prestación de su servicio educativo. Además, el reporte también
    clasifica a los colegios en términos de calidad y según características socioeconómicas y del
    entorno de los estudiantes que influyen en el funcionamiento de estas, las mismas se presentan
    de acuerdo a un ranking por clusters o agrupaciones de colegios con similares características
    socioeconómicas y de entorno.
 </p>
 <p>
    Es así como el Indicador Multidimensional de la Calidad de la Educación proporciona una
    aproximación de calidad total y por dimensión y a su vez, permite comparar cada institución
    educativa con el agregado de la ciudad y con sus similares (determinado por los clusters de
    colegios).
 </p>