
<h2 style="text-align: center;">Características esenciales</h2>
 <br>
<br>
  <p style="font-size: 18px;">
    <strong>Para la construcción del indicador y sistema de medición se utiliza la siguiente información:</strong>
  </p>
  <h3> 1) Pruebas Saber 5, 9 y 11 (Icfes)</h3>
  <p>
    Las pruebas externas estándar que se desarrollan periódicamente en Colombia para medir
    la calidad de la educación en el país son organizadas por el Instituto Colombiano para el
    Fomento de la Educación Superior, ahora Instituto Colombiano para la Evaluación de la
    Educación (ICFES). Con estas pruebas las autoridades educativas buscan medir el desarrollo
    de competencias de los estudiantes de educación básica primaria (grado 5), educación básica
    secundaria (grado 9) y educación secundaria media (grado 11).
  </p>

  <p>
    En este sentido, las pruebas Saber son el equivalente del Scholastic Aptitud Test (SAT) de
    los Estados Unidos, elTrends in International Mathematics and ScienceStudy (TIMSS) a nivel
    internacional y el Sistema Integral de Medición de la Calidad de la Educación (SIMCE) de
    Chile.
  </p>

  <p>
    Los resultados de estas evaluaciones y el análisis de las mismas, permiten que las
    instituciones del país, las Secretarías de Educación municipales y departamentales, el
    Ministerio de Educación Nacional, padres de familia y la comunidad en general, conozcan la
    calidad y competencias de los estudiantes y los colegios.

  </p>

  <p>
    Así, el fin último de estas evaluaciones es servir de herramienta para la toma de decisiones
    y diseño de políticas educativas en pro del mejoramiento de la calidad de la educación en el
    país.
  </p>

  <h3>2) Olimpiadas del Conocimiento en Medellín (Secretaría de Educación de Medellín)</h3>
  <p>
    Las Olimpiadas del Conocimiento que se vienen realizando en la ciudad desde el 2004 fue
    creado mediante el Acuerdo 23 de dicho año y reglamentado por el Decreto 0590 de 2005.
    Se constituyen como un proyecto liderado por la Secretaría de Educación de Medellín para
    motivar en los estudiantes del municipio, el interés por el desarrollo de competencias en
    las áreas de matemáticas (con énfasis en razonamiento lógico y matemático), y de lenguaje
    (con énfasis en habilidades comunicativas). Posteriormente, han sido modificadas por los
    Acuerdos 08 de 2006 y 14 de 2007, reglamentados por los Decretos 1241 de 2006 y 2036 de
    2007.
  </p>
  <p>
    Los estudiantes evaluados son los pertenecientes a los grados 5, 10 y 11 de instituciones
    oficiales, de cobertura (contratación) y privadas de la ciudad.
  </p>

  <h3>3) Matrícula en Línea (Secretaría de Educación de Medellín)</h3>
  <p>
    Matrícula en línea (ML) se constituye desde el año 2004 como un sistema de seguimiento
    de los estudiantes y colegios oficiales de la ciudad. Tiene como objetivo el fortalecer y
    facilitar los procesos de renovación automática y registro único de matrícula para asegurar
    la continuidad de estudiantes antiguos dentro del sistema educativo municipal y el ingreso
    satisfactorio de alumnos nuevos a la educación prescolar, básica primaria, básica secundara
    y secundaria media, permitiendo así el acceso al servicio educativo oficial de la población en
    edad escolar y adultos que se encuentran por fuera del mismo.
  </p>

  <h3>4)Encuestas sobre ambiente escolar a docentes, padres de familia y estudiantes
    (Secretaría de Educación de Medellín)
  </h3>
  <p>
    Con el fin de medir y evaluar el ambiente escolar en las instituciones educativas de la ciudad, la
    Secretaría de Educación contrató a una universidad reconocida en el país para el diseño de tres
    encuestas de percepción para indagar respectivamente a estudiantes, docentes y padres de familia
    sobre su percepción sobre el ambiente que se vive de manera cotidiana en los colegios. Las encuestas
    están compuestas por preguntas cualitativas que evalúan la percepción del encuestado con respecto a
    diferentes componentes de ambiente escolar.
  </p>

  <p>
    El diseño de las encuestas se basó en dos estudios, el “ProgressReport” y “La Evaluación
    del Programa Escuelas de Calidad para la Equidad y la Convivencia”. Se optó por apoyarse
    en estos dos estudios debido a queel “ProgressReport” es un estudio de seguimiento y
    monitoreo del progreso académico de los estudiantes del Distrito de New York (Estados
    Unidos), el cual se realiza desde el 2006 y cuenta con una encuesta de ambiente escolar que
    ha sido progresivamente mejorada y ajustada. En segunda instancia se escogió el estudio
    de “La Evaluación del Programa Escuelas de Calidad para la Equidad y la Convivencia” de
    la Universidad Eafitdebido a que aplica un instrumento mucho más amplio y vasto que
    contempla ítems relevantes del ambiente escolar y cuyas preguntas fueron producto de una
    indagación exhaustiva sobre instrumentos que abordan este aspecto.
  </p>
  <p>
    La primera sección de la encuesta pregunta sobre los datos que identifican la institución
    educativa a la cual pertenece el encuestado. Por ejemplo, en este aparte, se consulta el Código
    Dane de la institución, el cual garantiza el no confundir una institución con otra y/o con una sede,
    debido a que se presentan nombres muy similares entre los colegios y/o se puede desconocer
    que una IE esta compuesta por varias sedes.
  </p>
  <p>
    La segunda sección pregunta sobre la información general del encuestado en tanto docente,
    estudiante o padre de familia. Sin embargo no se le solicitan sus datos personales como nombre,
    edad, cédula, dirección de residencia o e-mail. Esto para evitar sesgos en sus respuestas.
  </p>
  <p>
    La tercera sección representa la variable <strong>“Expectativas Académicas”</strong> o la percepción que el
    estudiante, docente o padre de familia tiene frente al nivel de motivación que la Institución
    Educativa le brinda al estudiante para cumplir con éxito su formación a través de tener objetivos
    académicos rigurosos y coherentes.
  </p>
  <p>
    El cuarto aparte, <strong>“la Comunicación”</strong> evalúa la percepción que cada uno de los actores tiene frente
    al deber de la institución de mantenerlo informado acerca de los objetivos educativos y del
    progreso académico del estudiante.
  </p>
  <p>
    La quinta sección, <strong>“la Participación”</strong> examina cual es el nivel de participación y motivación que la
    institución promueve en cada uno de los actores con la finalidad de comprometerlo con la labor
    de la institución (promocionar el aprendizaje).
  </p>
  <p>
    El sexto aspecto denominado <strong>“Seguridad y Respeto”</strong> analiza la percepción que la comunidad
    educativa tiene con relación a la seguridad física y emocional que ofrece la institución,
    condiciones que son indispensables para garantizar un buen proceso de aprendizaje.
  </p>
  <p>
    El ultimo o séptimo punto de la encuesta se destinó para hacer preguntas adicionales que se
    consideran del interés del hacedor de política pública educativa o que simplemente proveen
    información complementaria. Por ejemplo, en las 3 encuestas que se aplicaron para el presente
    año se les preguntó a los 3 actores cómo calificarían ellos la prestación de servicios de esta
    institución educativa. Las preguntas de este aparte no se consideraron dentro del cálculo del
    indicador de ambiente escolar.
  </p>
  <p>Las fuentes primarias o actores a través de sus percepciones sobre diversos aspectos de las
    institucines permiten caracterizar el ambiente escolar o elementos intangibles que facilitan o
    dificultan el proceso de aprendizaje de los beneficiarios directos, los estudiantes.
  </p>
  <h3>5) Registro de Instituciones Educativas, Alumnos y Docentes: Formularios C600 (Dane)</h3>
  <p>Los Formularios C600 del Departamento Administrativo Nacional de Estadística (DANE)
    constituyen un registro que recopila información en cada una de las jornadas ofrecidas
    por cada una de las instituciones educativas oficiales y no oficiales del país, en los niveles
    de prescolar, básica (primaria y secundaria) y media, requerida para la administración y
    planeación de la educación y el diseño de políticas educativas nacionales y locales.
  </p>


  <h3>6) Encuesta de Calidad de Vida de Medellín (Departamento Administrativo de Planeación)</h3>
  <p>  Las Encuestas de Calidad de Vida (ECV) se han constituido como un instrumento anual diseñado
    con el fin de realizar seguimiento y medición de las condiciones socioeconómicas de los
    habitantes de las 16 comunas y 5 corregimientos que conforman el municipio, en aspectos como
    vivienda, educación, fuerza de trabajo, salud, seguridad, entre otros.
  </p>