<div class="header">
  <p> SISTEMA DE MEDICION DE LA CALIDAD EDUCATIVA</p>
  <p> CIUDAD DE MEDELLIN</P>

  <div class="bar">
    <ul>
      <li>Antecedentes</li>
      <li>Participanes</li>
    </ul>

  </div>

</div>


<div class="images">
     <%= image_tag("eafit.png") %>
     <%= image_tag("cice.png") %>
     <%= image_tag("alcaldia_medellin.png") %>

</div>

