<div class="contenido">
	    	<p><br>La Secretar&iacute;a de Educaci&oacute;n del Municipio de Medell&iacute;n viene
                trabajando en el fortalecimiento de su Laboratorio de Calidad de la Educaci&oacute;n y
                actualmente está interesada en la implementaci&oacute;n de un sistema de
                medici&oacute;n de indicadores de calidad de la educaci&oacute;n que permit&aacute;n el
                monitoreo, la evaluaci&oacute;n y la toma de decisiones sobre el proceso y los
                resultados del sistema educativo del Municipio y que sirva para las
                labores de mejoramiento de la calidad de la ense&ntilde;anza en las
                instituciones educativas (IE) del Municipio.
            </p>
</div>

<div class="image">
      <%= image_tag("ninios.jpg") %>
</div>







