<div class="contenido">
	    	<p>La Secretaría de Educación de Medellín y su
              Laboratorio de Calidad ponen a disposición de
              las Instituciones Educativas, padres de familia
              y la comunidad en general del municipio, el
              Sistema de Medición de la Calidad Educativa
              (SIMCE), con el objetivo de permitir el
              monitoreo y evaluación del sistema educativo
              de la ciudad.
            </p>
            <p>  El Sistema reporta el estado y avance
              en calidad educativa de cada una de las
              instituciones oficiales de la ciudad con
              respecto a unas similares en sus características
              socioeconómicas de los estudiantes y con elresto de instituciones del Municipio.
              El SIMCE reporta el estado y avance de
              cada IE basándose en tres indicadores que
              se consideran determinar la calidad de la
              educativa: ambiente escolar, rendimiento y
              progreso académico.
            </p>
</div>

<div class="image">
      <%= image_tag("ninios.jpg") %>
</div>







