<div class="contenido">
	    	<p>La Secretaria de Educación y su Laboratorio de la Calidad Educativa ponen a disposición de las
	    	autoridades, las IE y la ciudadanía en general el Sistema de Medición de la Calidad Educativa, con la
	    	finalidad de contribuir en el monitoreo y evaluación de la prestación del servicio educativo de las IE
	    	oficiales. El sistema presenta el progreso de la calidad educativa para cada una de las IE. Este reporta
	    	el avance de la IE con relación a tres criterios o indicadores que se consideran determinan la calidad de
	    	la educación, el ambiente escolar, el rendimiento y el progreso académico.
            </p>
</div>

<div class="image">
      <%= image_tag("ninios.jpg") %>
</div>







