<div class="contenido">


	    	<p>La Secretaría de Educación de Medellín y su Laboratorio de Calidad ponen a disposición de las
              instituciones educativas, padres de familia, estudiantes y la comunidad en general, el Sistema de
              Medición de la Calidad de la Educación (SIMCE), que se constituye como una herramienta de
              seguimiento y evaluación del sistema educativo de la ciudad de Medellín.
            </p>
            <p> El Sistema de Medición reporta el nivel o estado en calidad de cada una de las instituciones educativas
              de la ciudad utilizando diversos indicadores y en especial, un indicador multidimensional de educación
              y, compara el nivel en calidad de un colegio en particular con la de sus similares en sus características
              socioeconómicas de los estudiantes y con el resto de instituciones del Municipio.
            </p>
</div>

<div class="image">
      <%= image_tag("ninios.jpg") %>
</div>







