
<h2>Participantes</h2>
 <div id= "alcaldia">
    <div class="alcaldia-i">
        <%= image_tag("NewLogo.jpeg")%>
    </div>
    <div class="alcaldia-p">
        <p>
          El programa Escuelas de Calidad para la Equidad y la Convivencia (ECEC) adelantado
          por la Secretaría de Educación de Medellín consta de un conjunto de acciones tendientes
          a mejorar sustancialmente la calidad y la pertinencia de la educación en la ciudad, además
          de propiciar mejores condiciones de acceso y permanencia de los estudiantes en el sistema.

        </p>

        <p>
          Por lo tanto, es fundamental la evaluación de impacto del programa, por lo cual se busca establezca cuáles
          han sido los efectos de las intervenciones dirigidas al fortalecimiento de la gestión escolar
          en la organización institucional, los procesos pedagógicos, la administración y las relaciones
          entre la escuela y su comunidad educativa. Esto permitirá identificar fortalezas y debilidades
          en el desarrollo de estos procesos, y aportará elementos orientadores para la toma de decisiones
          acerca de cuáles estrategias requieren fortalecerse, cuáles necesitan ajustes y cuáles ya no
          necesitan continuidad. Este es el objetivo de este estudio
        </p>
   </div>
 </div>

<hr>

 <div id="cice">
  <div class="cice-i">
        <%= image_tag("cice.png")%>
    </div>
    <div class="cice-p">
        <p>El Centro para la Innovación, Consultoria y Empresarismo de la Universidad EAFIT
           en este proyecto presta los servicios de asesoria tecnica en la elaboración del
           modelo estadistico de analisis de los datos recojidos de las instictuciones.
        </p>
        <p>El CICE fue creado en el año 2006 para ofrecer soluciones a empresas, gobiernos,
          instituciones educativas, emprendedores, organizaciones sociales y demás entes
          de la sociedad, mediante la prestación de servicios y productos que están sustentados
          en el conocimiento y experiencia de las diferentes áreas académicas y de investigación
          de la Universidad.
        </p>
    </div>
  </div>
  <hr>
  <div id = laboratorio>
    <div class="laboratorio-i">
         <%= image_tag("laboratorio.png") %>
    </div>
    <div class="laboratorio-p">
        <p>Laboratorio de la Calidad Educativa

        Instancia que tiene como misión ser un banco de datos, de indicadores y de estudios de carácter
        técnico, los cuales son fuentes esenciales de información para las autoridades, las Instituciones
        Educativas (IE) y la sociedad en general en cuanto les permite monitorear, evaluar y tomar
        decisiones con respecto a las políticas o acciones encaminadas a mejorar la calidad del sistema
        educativo y de sus IE.

        </p>
    </div>

  </div>

<div class="ajustar"></div>


