
<h2>Participantes</h2>


<hr>

 <div id="cice">
  <div class="cice-i">
        <%= image_tag("cice.png")%>
    </div>
    <div class="cice-p">
        <p>El Centro para la Innovación, Consultoría y Empresarismo CICE de la Universidad EAFIT fue
        creado en el año 2006 para ofrecer soluciones a empresas, gobiernos, instituciones educativas,
        emprendedores, organizaciones sociales y demás entes de la sociedad, mediante la prestación de
        servicios y productos que están sustentados en el conocimiento y experiencia de las diferentes
        áreas académicas y de investigación de la Universidad. Es por ello que el CICE ha sido llamado
        a participar en la concepción y ejecución del Sistema de Medición de la Calidad Educativa para
        la Ciudad de Medellín, presentando por medio de esta plataforma informática el resultado de este
        proyecto.
        </p>
    </div>
  </div>
  <hr>





