
<h2 style="text-align: center;">Aliados Estratégicos</h2>
<hr>

<div id="proant">
  <div class="proant-i">
    <%= link_to image_tag("proantioquia.jpg"),'http://www.proantioquia.org.co', :target => "_blank", :title => "Ir a Proantioquia" %>
  </div>
  <div class="proant-p">
    <h2>Proantioquia</h2>
    <p>Proantioquia es una Fundación Privada sin ánimo de lucro, creada por un destacado grupo de empresarios
      Antioqueños en 1975 con el firme propósito de ayudar en la construcción de una región más competitiva
      en lo económico y equitativa en lo social, para tener una sociedad integrada, pacífica y con oportunidades
      para todos. De esta forma, a través de los años participamos e impulsamos el liderazgo de proyectos
      de alto impacto en el desarrollo y competitividad de la región, haciendo partícipes a las subregiones
      antioqueñas a través de la generación de alianzas interinstitucionales, la promoción de proyectos
      de desarrollo económico, el mejoramiento de la gestión, calidad y pertinencia de la educación y el
      fortalecimiento de la institucionalidad pública local. En todo éste proceso, estimulamos al sector privado
      para que participe estrechamente con la formulación, discusión e instrumentación de políticas públicas, y
      en el diseño de iniciativas que propendan a mejorar el nivel y la calidad de vida de la población.

    </p>
    <h3>Misión</h3>

     <p>Somos una fundación privada sin ánimo de lucro que en ejercicio de la responsabilidad social, promueve y
        apoya iniciativas estratégicas para el bienestar nacional y el desarrollo regional, con equidad.
    </p>
    <h3>Visión</h3>
    <p>
        Ser reconocidos como organización cuyas iniciativas propias y en alianzas estratégicas, mejoran las
        capacidades y condiciones sociales para desarrollar las tareas colectivas construcción de nación y región.
    </p>
  </div>
</div>

<hr>

 <div id="cice">
  <div class="cice-i">
        <%= link_to image_tag("cice.png"), 'http://www.eafit.edu.co', :target => "_blank", :title => "Ir a EAFIT"%>
    </div>
    <div class="cice-p">
        <h2>CICE EAFIT</h2>
        <p>El Centro para la Innovación, Consultoría y Empresarismo CICE de la Universidad EAFIT fue
        creado en el año 2006 para ofrecer soluciones a empresas, gobiernos, instituciones educativas,
        emprendedores, organizaciones sociales y demás entes de la sociedad, mediante la prestación de
        servicios y productos que están sustentados en el conocimiento y experiencia de las diferentes
        áreas académicas y de investigación de la Universidad. Es por ello que el CICE ha sido llamado
        a participar en la concepción y ejecución del Sistema de Medición de la Calidad Educativa para
        la Ciudad de Medellín, presentando por medio de esta plataforma informática el resultado de este
        proyecto.
        </p>
    </div>
  </div>






