<table>
  <thead>

  </thead>
  <tbody>
  <% @usuarios.each do |user, nick | %>
  <tr>

    <td><%= user.upcase %></td>
    <td><%= nick %></td>
    <td><%= nick.split(%r{\s*}).count %></td>


  </tr>
  <% end %>
  </tbody>
</table>
