<h3 style="text-align: center;">Utilidad del Sistema de Medición</h3>
  <br>
  <br>
  <p>
    En consecuencia, el SIMCE permite identificar las fortalezas y debilidades de cada institución
    educativa incluida según su ambiente escolar, su rendimiento y el progreso académico,
    facultando y dando herramientas a las autoridades educativas y a las instituciones para hacer los
    correctivos pertinentes en pro de la calidad de la educación.
  </p>
  <p>
    En así como la Secretaría de Educación de Medellín y su Laboratorio de Calidad Educativa le
    apuestan al desarrollo del indicador multidimensional y sistema de medición de la calidad de
    la educación con la firme intención de monitorear la calidad de cada institución y el sistema
    completo y en este sentido, poder tomar decisiones de intervención pública.
  </p>