<h3 style="text-align: center;">Utilidad del Sistema de Medición</h3>
  <br>
  <br>
  <p>
    En consecuencia, el SIMCIE-Medellín permite identificar las fortalezas y debilidades
    de cada institución educativa del Municipio según su ambiente escolar, su
    rendimiento y el progreso académico, facultando así y dando herramientas a las
    autoridades educativas y a las mismas instituciones para hacer los correctivos
    pertinentes en pro del mejoramiento de la calidad de la educación.
  </p>
  <p>
    La Secretaría de Educación de Medellín y su Laboratorio de Calidad Educativa le
    apuestan al desarrollo del indicador multidimensional y de la plataforma en web
    para el acceso del público en general al Sistema de Medición de la Calidad de las
    Instituciones Educativas de la Ciudad.
  </p>
  <p>
    Esto con la firme intención de monitorear la calidad de cada institución y del sistema
    educativo como tal y en este sentido, poder tomar decisiones de intervención pública.
  </p>
  <p>

    Finalmente, para el «Premio Ciudad de Medellín a la Calidad de la Educación 2012», el
    nuevo Sistema de Medición es utilizado dentro de la metodología de evaluación como
    insumo de información para la valoración cuantitativa.
  </p>
  <p>
    Lo invitamos a que socialice esta nueva herramienta de información.
  </p>
