<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bienvenido a secretariase.tk <%= @user.nombre.titleize %></h1>
    <p>
      Usted ha sido exitosamente registrado a la plataforma de medición de la
      calidad de la Alcaldia de Medellín y la Secretaría de Educación, para acceder
      a los servicios de la plataforma utilice los siguientes datos:
      e-mail <%= @user.email %>.<br/>
      contrase&ntilde;a: <%= @user.password %>
    </p>
    <p>
      <%= @user.nombre.titleize %> por favor cambie su contraseña para mayor seguridad
    </p>
   

    <p>Gracias por su atención </p>
  </body>
</html>