<table border="1">

  <tr>
    <th>Nombre</th>
    <th>e-mail</th>
    <th>Tipo</th>
  </tr>
  <%	@users.each do |user|  %>
     <tr>
       <td><%=	user.nombre  %></td>
       <td><%=	 user.email %></td>
       <td><%=	 link_to 'Editar', edit_user_path(user) %></td>
       <td><%= link_to 'Mostrar', user_path(user) %></td>
       <td>Borrar</td>

     </tr>
  <%end %>
</table>

