<% if signed_in? %>


    <h1>Reportes del sistema</h1>
    <p>Señor usuario: Aquí podrá generar dos tipos de reportes en línea del
      Sistema de Medición de la Calidad Educativa de la Ciudad de Medellín,
      con los cuales usted tendrá conocimiento del estado y avance en calidad
      de las distintas instituciones educativas de la ciudad.
    </p>


    <p>&nbsp;</p>

    <h3>Ranking de las instituciones</h3>
    <p>Este es un reporte de las mejores 20 instituciones educativas oficiales
       de la ciudad de Medellín. Aquí se reportan los valores para cada una de
       las dimensiones que considera el Sistema de Medición para estimar la
       calidad educativa de cada establecimiento, a saber: Ambiente Escolar,
       Rendimiento Académico y Progreso.</p>
    <%= link_to "Generar", {:action => "ranking"}, :class => "option_button" %>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <hr>
    <p>&nbsp;</p>
    <h3>Reporte Individual</h3>
    <p>Este reporte muestra los resultados del Sistema de Medición para cada
      una de las instituciones educativas. Seleccione una institución
      para ver el reporte.</p>



    <form name="nombreColegios">
      <select name="colegios" class="option_select " >
        <option id= "1" value>SELECCIONE UN COLEGIO</option>
        <%@colegios.each do |col|	  %>
            <OPTION id="<%= col.dane %>" VALUE="<%= col.nombre %>"><%= col.nombre %></OPTION>
        <% end %>
      </select>
    </form>

    <button  id="button" class="option_button">Generar</button>


    <script>
        function redireccionColegio(){
            var id = nombreColegios.colegios.options[nombreColegios.colegios.selectedIndex].id
            window.location = "reportes/" + id;
        }

        $("button").click(function () {
                    var id = nombreColegios.colegios.options[nombreColegios.colegios.selectedIndex].id
                    if (id === "1"){
                        alert("Seleccione una Institucion Educativa" );
                    }else{

                    window.location = "/reportes/" + id;
                    }
                }
        );
    </script>

<% else %>
      <script type="text/javascript">
          window.location = "/singin"
              ;
    </script>
<% end %>
<div class="ajustar"></div>
