<% if signed_in? %>


    <h1>Colegios evaluados</h1>
    <p>Las IE intervenidas pueden así mismo beneficiarse de la intervención integral
       de los siguientes programas, los cuales son ofrecidos a todas las IE de la
       ciudad pero prioritariamente (en algunos casos) a las Escuelas de Calidad.
       Los programas que serán tenidos en cuenta en este estudio son aquellos que
       también podrían afectar los indicadores de resultados, permanencia,
       eficiencia  y clima escolar de las IE intervenidas. Estos son:
    </p>


    <p>&nbsp;</p>

    <h3>Ranking de las instituciones</h3>
    <%= link_to "Generar", {:action => "ranking"}, :class => "option_button" %>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <h3>Reporte Individual</h3>
    <form name="nombreColegios">
	    <select name="colegios" class="option_select">
		    <%@colegios.each do |col|	  %>
		        <option id="<%= col.dane %>" value="<%= col.nombre.downcase.titleize %>"><%= col.nombre.downcase.titleize %></option>
		    <% end %>
	    </select>
    </form>
    <a id="button" class="option_button">Generar</a>


    <%#  select_tag "option_select", options_from_collection_for_select(@colegios, "dane", "nombre"),:prompt => "SELECCIONE UN COLEGIO", :class => "option_select"%>

   <script>

	 $("#button").click(function () {
			var id = nombreColegios.colegios.options[nombreColegios.colegios.selectedIndex].id;
			window.location = id;
		});
   </script>

<% else %>
      <script type="text/javascript">
          window.location = "/singin"

    </script>
<% end %>
<div class="ajustar"></div>
