<% if signed_in? %>


    <h1>Colegios evaluados</h1>
    <p>Ingresar texto aqui (mateo)</p>

    <p>&nbsp;</p>
    <form name="nombreColegios">
	    <select NAME="colegios">
		    <%@colegios.each do |col|	  %>
		        <OPTION id="<%= col.dane %>" VALUE="<%= col.ie %>"><%= col.ie %></OPTION>
		    <% end %>
	    </select>
    </form>
    <button>Generar</button>


    <script>
	    function redireccionColegio(){
		    var id = nombreColegios.colegios.options[nombreColegios.colegios.selectedIndex].id
		    window.location = "reportes/" + id;
	    }
	
	    $("button").click(function () {
			var id = nombreColegios.colegios.options[nombreColegios.colegios.selectedIndex].id
			window.location = "reportes/" + id;
		}
	    );
    </script>

<% else %>
      <script type="text/javascript">
          window.location = "/singin"

    </script>
<% end %>