<script>
	function redireccionColegio(){
		var id = nombreColegios.colegios.options[nombreColegios.colegios.selectedIndex].id
		window.location = "reportes/" + id;
	}
</script>


<h1>Colegios evaluados</h1>
<p>Ingresar texto aqui (mateo)</p>
<p>&nbsp;</p>

<table >
  <%@colegios.each do |col|	  %>
  <tr>
    <td><%=link_to col.colegio, "reportes/#{col.coddane}"    %></td>
  </tr>
  <% end %>

</table>

<p>&nbsp;</p>
<form name="nombreColegios"> 
	<select NAME="colegios">
		<%@colegios.each do |col|	  %>
		 <OPTION id="<%= col.coddane %>" VALUE="<%= col.colegio %>"><%= col.colegio %></OPTION> 
		<% end %>
	</select>
</form>
<input type="button" value="tonces?" onclick='redireccionColegio()'>


