/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/


body{
    background: #036163;
	margin: 0%;


}

#header{
	background-color: white;
	min-height: 100px;
    margin-left: auto;
    margin-right: auto;
	-webkit-border-radius: 0px 0px 12px 12px;
	width: 80%;

}

#header #nav .name {

    width: 50%;
    float: left;
    padding: 0 0.7em;
    white-space: nowrap;
	padding-left: 20px;

}

#header #nav .name img{
	width: 100%
}

#header #nav .bar   {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0.05);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	margin-right: 45px;
	background-color: #f5f5f5;
	height:30px;
	float: right;
	line-height: 1em;
	padding-bottom: 8px;
}

#header #nav .bar ul li{
	list-style-type: none;
    display: inline-block;
    padding: 0 0.1em;

}

#header #nav .bar ul li a {
	padding: 0 5px;
	font-size: 14.5px;
}

#header #nav ul {
	margin: 15px;
	padding: 0;
}


#header #nav .bar ul li a:visited {
	color: #036163;
}

#header #nav .bar ul li a:hover {
	color: #036163;
	text-decoration: underline;
}


a{
    color: #036163;
    text-decoration: none;
}

#content{
	background-color:  white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
	margin-top: 20pt;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
	border-radius: 12px;
	width: 80%;

}
#big{
    padding: 10px 30px 50px 30px;
}

#content a.option_button{
    margin-top: 10px  ;
	display: block;
	text-align: center;
	width: 150px;
	color: #036163;
	background: whiteSmoke;
	font-size: 100%;
	font-weight: bold;
	padding: 20px;
    float: left;
     border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0,0, 0.05);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

#content .actions input{
	 margin-top: 10px  ;
	display: block;
	text-align: center;
	width: 150px;
	color: #036163;
	background: whiteSmoke;
	font-size: 100%;
	font-weight: bold;
	padding: 20px;
    float: left;
     border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0,0, 0.05);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}


#content h1 {
	color: #036163;
	margin: 10px;
	margin-left: 0px;		
}

#content p {
	margin: 5px;
	margin-left: 0px;	
}






/* Footer */
#footer{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
	clear:both;
	margin-top: 20px;
	height:227px;
	color: #444;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
	border-radius: 12px;
	margin-bottom: 20px;
    background: white;
}
.float-left {
	float: left;
	overflow: hidden;
	width: 25%;
}
.module {
	margin-top: 10px;
	margin-left: 1px;
	margin-right: 10px;
	position: relative;
	min-height: 180px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	color: #717475;
	font-size: 12px;
}

p.header {
	font-size: 16px;
	margin-left: 10px;
	padding: 10px;
	/*    	
	border-bottom-width: 1px;
	border-bottom-color: #666;
	border-bottom-style: dotted;
	*/
}


#copyright{
	margin-top: 20px;
	text-align: center;
    font-size: 12px;
}

