// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.contenido{
    width: 50%;
    float: left;
}

.contenido p{
    text-align: justify;
    font-family: arial;
    font-size: 12;
    padding-left: 20px;
}

.image {
    width: 420px;
    height: 350px;
    margin-left: 470px;
    padding-top: 20px;
    padding-left: 40px;

}

.image img{
    width: 80%;
    height: 60%;
    border:4px ridge #036163


}

#cice{

    clear:both;
}

#cice .cice-i{
    width: 150px;
    float: left;
    padding-top: 20px;


}

#cice .cice-i img{
    width: 150px;
}

#cice .cice-p{
    text-align: justify;
    font-family: arial;
    font-size: 12;
    width: 600px;
    float: right;
    padding-right: 30px;
    padding-bottom: 20px;
}

hr{
    clear: both;
    margin-right: 30px;
}

#alcaldia{

    clear:both;

}

#alcaldia .alcaldia-i{
   width:150px;
   float: left;
   clear: left;
}

#alcaldia .alcaldia-i img{
   width: 150px;
}

#alcaldia .alcaldia-p{
    text-align: justify;
    font-family: arial;
    font-size: 12;
    width: 600px;
    float: right;
    margin-right: 30px;
    padding-bottom: 20px;

}


.ajustar{
   clear:both;
}
