// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contenido{
    text-align: justify;
    width: 500px;
    float: left;
    padding-left: 20px;
}

.contenido p{
    text-align: justify;
    font-family: arial;
    font-size: 12;
    padding-left: 12px;
}

.image{
    width: 420px;
    height: 350px;
    float: right;
    padding-top: 20px;

	/*padding-right: 20px;    */


}

.image img{
    width: 400px;
    height: 350px;


}

