// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content .ingresar{
    width: 40%;
    margin: auto;
    font-size: 20px;
}

#content .ingresar h1{
    text-align: center;
}

#content .ingresar td{
  padding: 3px;


}

#content .ingresar input{
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  width: 210px;
}

#content .ingresar .input{
  width: 100%;
}