

<select name="alumnos" >
	<% @colegios.each do |usuario| %>
	<option value="<%= usuario.coddane%>"><%= usuario.colegio%></option>
	<%end%>
</select>

<input id="bo" type="button" value="tonces?" >


<p>&nbsp;</p>



