<!DOCTYPE html>
<html>
<head>
  <title>TestSQL</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src='http://www.google.com/jsapi'> </script>

</head>
<body>

<%= yield %>

</body>
</html>
