<div id="error">
    <h1>Error 404</h1>
    <div>
      <h2> Lo sentimos, !La página <%= @not_found_path %> no existe!</h2>

      <h3>Quieres volver a <%= link_to "Inicio", root_path %>?</h3>


    </div>
</div>
