<div id="error">
    <h1>Error 500</h1>
    <div>
      <h2> Lo sentimos, hemos hecho algo mal, !La página <%= @not_found_path %> no existe ó
        esta temporalmente fuera de
        servicio!
      </h2>

      <h3>Quieres volver a el  <%= link_to "Inicio", root_path %>  go back to our home page and try again?</h3>


    </div>
</div>
