
<h2> 404</h2>
<div>
  <h3> Lo sentimos</h3>
  <p>
    El contenido que esta buscando no se encuentra disponible o no existe
  </p>
  <p>
    Usted esta intentando acceder a <%= @not_found_path%>, La cual no es una pagina valida
  </p>
  <h2>Quieres volver a <%= link_to root %>  go back to our home page and try again?


</div>
